# Ignore C++ executable files
*.out
# Ignore files that begin with "test" - those are for testing purposes only
test*
# Ignore the 'logs' folder
logs/**
# Ignore the 'misc' folder
misc/**
# Ignore pycache files
__pycache__

.vscode/
